# Data Types and Structures

1. What are data structures, and why are they important?


*  Data structures are ways of organizing and storing data so it can be accessed and modified efficiently.
*  They are important because they help in efficient data management, reduce time complexity, and improve performance.



2. Explain the difference between mutable and immutable data types with examples.

  1.  Mutable: Can be changed after creation (e.g., list, dictionary, set).
  2. Immutable: Cannot be changed after creation (e.g., tuple, string, int)


3. What are the main differences between lists and tuples in Python?


* Mutability

     List: Lists are mutable, which means their elements can be changed after the list is created. You can add, remove, or update elements.

     Tuple: Tuples are immutable, meaning once a tuple is created, its elements cannot be changed or modified.
* Syntax

     List: Lists are written using square brackets [ ].
     Example: my_list = [1, 2, 3]

     Tuple: Tuples are written using round brackets ( ).
     Example: my_tuple = (1, 2, 3)

4. Describe how dictionaries store data.


*  Dictionaries store data in key-value pairs using a hash table. Keys are hashed to find their storage location.

5. Why might you use a set instead of a list in Python?

  * We use a set instead of a list mainly when we want to store unique items only and don’t care about the order of elements.

  * To store unique values (no duplicates)
  * Faster membership checking (in operator)

6. What is a string in Python, and how is it different from a list?


*  String: Sequence of characters (immutable)
*  List: Sequence of elements (mutable)
*	 Strings store text, lists store multiple data types.

7.  How do tuples ensure data integrity in Python?

* Tuples are immutable, meaning data cannot be changed after creation, ensuring consistency.

8. What is a hash table, and how does it relate to dictionaries in Python?

* A hash table stores data using a hash function to quickly locate keys. Dictionaries use hash tables internally.

9. Can lists contain different data types in Python?

* Yes, lists in Python can absolutely contain different data types.
* my_list = [1, "Hello", 3.14]

10. Explain why strings are immutable in Python.

* Because changing a string would require creating a new memory block, Python makes strings immutable for security and performance.

11. What advantages do dictionaries offer over lists for certain tasks?

* Faster lookups using keys
*	Key-value mapping instead of index-based access

12. Describe a scenario where using a tuple would be preferable over a list.

* When storing fixed configuration values like GPS coordinates (28.61, 77.23).

13. How do sets handle duplicate values in Python.

* Sets automatically remove duplicates when storing elements.

14. How does the “in” keyword work differently for lists and dictionaries?
*	List: Checks if value exists in elements
*	Dictionary: Checks if value exists in keys

15. Can you modify the elements of a tuple? Explain why or why not.

* No, you cannot modify the elements of a tuple after it has been created in Python. This is because tuples are immutable data types.

16. What is a nested dictionary, and give an example of its use case?

* A nested dictionary in Python is simply a dictionary inside another dictionary.
It allows you to store data in a hierarchical (multi-level) structure, where each key can map to another dictionary instead of just a single value.
* data = {
    "emp1": {"name": "Amit", "age": 30},
    "emp2": {"name": "Sara", "age": 25}
}

print(data["emp1"]["name"])


17. Describe the time complexity of accessing elements in a dictionar?

* Accessing an element in a Python dictionary has average time complexity of O(1) because dictionaries use hash tables for storage.

*  Average Case: O(1) → Direct access using the key
* Worst Case: O(n) → Happens rarely when many keys have the same hash (hash collision)

18. In what situations are lists preferred over dictionaries?

  1. Lists are preferred when:

  2. Order matters

  3. Access by index

  4. Duplicates allowed

  5. Simple value storage

  6. Sequential processing

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

* Dictionaries are unordered because they store data by hash keys, not positions.
* You can’t access by index—only by key—so order doesn’t affect retrieval.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

* Difference in data retrieval:

* List: Access by index/position (e.g., my_list[0]).

* Dictionary: Access by key (e.g., my_dict["name"]).

In [1]:
# Practical Questions

# 1. Write a code to create a string with your name and print it.

name = "Yuvraj"
print(name)

Yuvraj

In [ ]:
# 2. Write a code to find the length of the string "Hello World"

string = "Hello World"
print(len(string))

11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"

string = "Python Programming"
print(string[:3])

Pyt

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase.

string = "hello"
print(string.upper())

HELLO

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

string = " I like apple"
print(string.replace("apple", "orange"))

 I like orange

In [ ]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.

number = [1, 2, 3, 4, 5,]
print(number)

[1, 2, 3, 4, 5]

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

In [ ]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tuple = ('red', 'green', 'blue', 'yellow')
print(tuple[-2])

blue

In [ ]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tuple = (10, 20, 5, 15)
print(min(tuple))

5

In [ ]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').\

tuple = ('dog', 'cat', 'rabbit')
print(tuple.index('cat'))

1

In [ ]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

tuple = ("apple", "banana", "cherry")
print("kiwi" in tuple)

False

In [ ]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set = {'a', 'b', 'c'}
print(set)

{'c', 'b', 'a'}

In [ ]:
# 17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set = {1, 2, 3, 4, 5}
set.clear()
print(set)

set()

In [ ]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

set = {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

In [ ]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [ ]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [2]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dict = {"name": "Yuvraj", "age": 21, "city": "Varanasi"}
print(dict)

{'name': 'Yuvraj', 'age': 21, 'city': 'Varanasi'}

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dict = {'name': 'John', 'age': 25}
dict["country"] = "USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dict = {'name': 'Alice', 'age': 30}
print(dict["name"])

Alice

In [ ]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict["age"]
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dict = {'name': 'Alice', 'city': 'Paris'}
print("city" in dict)

True

In [ ]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

list = [1, 2, 3]
tuple = (1, 2, 3)
dict = {"a": 7, "b": 8}
print(list)
print(tuple)
print(dict)

[1, 2, 3]
(1, 2, 3)
{'a': 7, 'b': 8}

In [ ]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random
numbers = random.sample(range(1, 100), 5)
numbers.sort()
print(numbers)

[7, 8, 71, 73, 88]

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index.

list = ["apple", "banana", "cherry", "date", "elderberry"]
print(list[3])

date

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result.

dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combine = {**dict1, **dict2}
print(combine)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# 30. Write a code to convert a list of strings into a set.

import builtins
my_list = ["apple", "banana", "cherry", "apple"]
my_set = builtins.set(my_list)
print(my_set)

{'banana', 'cherry', 'apple'}